[Unit]
Description=Flixproxy - DNS, HTTP and TLS proxy
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/flixproxy -c /etc/flixproxy/flixproxy.conf

[Install]
WantedBy=multi-user.target
